<div class='container'>
  <div class="col">
    <div class="col">
      <h1>Showings user <%= @user.email %></h1>
    </div>
    <div class="col">
      <div class="row">
        <div class="col"><h3>showing all posts of user</h3>

<ul>
    <% @posts.each do |post| %>
        <li><%= post.pet_name %></li>
        <li><%= post.breed %></li>
        <li><%= post.price %></li>
        <li><%= post.category %></li>
        <li><%= post.description %></li>
    <% end %>
</ul>
</div>
        <div class="col">
        <h3>REVIEWS</h3>
    <% @user.reviews.each do |review| %>
        <p>
        <strong>Reviewer:</strong>
        <%= review.reviewer %>
      </p>
      <p>
        <strong>Rating:</strong>
        <%= review.rating %>
      </p>
      <p>
        <strong>Comment:</strong>
        <%= review.comment %>
      </p>
    <% end %>
<ul>
  <% @connections.each do |connection| %>
    <% if connection.customer_id == current_user.id  %>
      
      <h2>Add a review:</h2>
      <%= form_with model: [ @user, @user.reviews.build ] do |form| %>
        <p>
          <%= form.label :rating %><br>
          <%= form.text_field :rating %>
        </p>

        <p>
          <%= form.label :comment %><br>
          <%= form.text_area :comment %>
        </p>
        <p>
          <%= form.submit %>
        </p>
      <% end %>

    <% end %>
  <% end %>
</ul>
</div>
      </div>
    </div>
  </div>
</div>


