<div class="card p-3 mb-5" style="width: 30rem;">
  <%= form_with(model: @post, url: posts_path) do |form| %>
      <div class="mb-3">
        <%= form.label :owner, class: "form-label" %>
        <%= form.text_field :pet_name, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :pet_name, class: "form-label" %>
        <%= form.text_field :pet_name, class: "form-control" %>
      </div>
      <div class="mb-3">
      <%= form.label :category, class: "form-label" %>
      <%= form.text_field :category, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :breed, class: "form-label" %>
        <%= form.text_field :breed, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :price, class: "form-label" %>
        <%= form.number_field :price, step: :any, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_area :description, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :location, class: "form-label" %>
        <%= form.text_field :location, class: "form-control", id: "searchTextField" %>
      </div>
        <div class="d-flex gap-2 mb-3">
        
        <%= form.radio_button :advertisement, 'For Adoption' %>
        <%= form.label :advertisement, 'For Adoption'%>
        <%= form.radio_button :advertisement, 'For Sale' %>
        <%= form.label :advertisement, 'For Sale'%>
      </div>
      <div class="d-flex gap-2 mb-3">
        <%= form.radio_button :pick_up, 'meet_up' %>
        <%= form.label :pick_up, 'Meet up'%>
        <%= form.radio_button :pick_up, 'pick_up' %>
        <%= form.label :pick_up, 'Pick up'%>
      </div>
    
      <div class="mb-3">
        <%= form.label "Picture of your pet", class: "form-label" %>
        <%= form.file_field :thumbnail, class:"form-control"%>
      </div>
      
      <%= form.submit 'Post pet', class: "btn btn-primary" %>
    <% end %>
  </div>
