
<div class="d-flex justify-content-center gap-2 mt-5" >
        <div class="card post-card" style="width: 30rem; max-height: 600px;">
            <div  class="card-img-top mb-2 mt-3" style="background-color: #86C8BC;">
                    <%= image_tag @post.thumbnail_url, class: "pet-thumbnail"%>
            </div> 
            <% if current_user.id == @post.user_id %>
                <div>
                    <div class="show-post-edit">
                        <%= link_to post_inquiries_path(@post.id), class: "post-edit" do %>
                            <i class="fa-regular fa-message"></i>
                        <% end %>
                        <%= link_to edit_post_url, class: "post-edit" do %>
                            <i class="fa-solid fa-pen-to-square"></i>
                        <% end %>
                    </div>
                </div>
            <% else %>
                <%= link_to report_post_path(@post), method: :patch do %>
                    <i class="fa-solid fa-triangle-exclamation d-flex justify-content-end me-3 mt-3" style="color: black"></i>
                <% end %>
            <% end %>
            <div class="card-body">
                <div class="d-flex align-items-center gap-2">
                    <p style="color: green;"><strong><%= @post.advertisement %></strong></p> <p><%= @post.pet_name.titleize  %></p>
                </div>
                <p class="card-text"><strong>Category:</strong> <%= @post.category.titleize %></p>
                <p class="card-text"><strong>Breed:</strong> <%= @post.breed.titleize %></p>
                <p class="card-text"><strong>Owner:</strong> <%= link_to @post.user.email, user_path(@post.user.id)  %></p>
                <p class="card-text"><strong>Price:</strong> <%= number_to_currency(@post.price, unit: "₱", separator: ".", delimiter: ",") %></p>
                <p class="card-text"><strong>Description:</strong> <%= @post.description %></p>
                <p class="card-text"><strong>Location:</strong> <%= @post.location %></p>
                <p class="card-text"><strong>Pick up/Meet up:</strong> <%= @post.pick_up == 'meet_up' ? 'Meet up' : 'Pick up' %></p>
                <%= render 'inquiries/form' %>
            </div>
        </div> 

        <div class="card post-card" style="width: 30rem;" id="comment-container">
            <%= render 'comments/form' %>
            <p class="m-1"><%= @post.comments.count %> comments</p>
            <%= render @post.comments %>
        </div>
</div>