<p id="pet-inquiry"><%= @post.pet_name %></p>
<div class="d-flex justify-content-center">
<div class="card" style="width: 12rem;">
    <%= image_tag @post.thumbnail_url, class: "pet-thumbnail"%>
</div>
</div>

<div class="container my-1 d-flex justify-content-center">
  <div class="row">
    <table class="table table-bordered text-center" style="width: 700px">
    <thead>
        <tr style="background-color: #86C8BC;">
            <th scope="col">Inquirer email</th>
            <th scope="col">Status </th>
        </tr>
    </thead>
    <tbody>
            <% if @inquiries.count > 0 %>
            <% @inquiries.each do |inquiry| %>
            <tr>    
                <td> <%= inquiry.inquirer_name %> </td>
                <td>
                    <% if @post.availability != 'available' %>
                        <%= form_with(model: @post, method: :patch) do |form|%>
                        <%= form.hidden_field :availability, value: "available" %>
                        <%= form.submit "Available" %>
                    <% end %>
                    <% else %>
                        <%= form_with(model: @post, method: :patch) do |form|%>
                        <%= form.hidden_field :availability, value: "#{@post.advertisement == 'For Sale' ? 'Sold' : 'Adopted'}" %>
                        <%= form.hidden_field :update, value: "#{@post.advertisement == 'For Sale' ? 'Sold' : 'Adopted'}" %>
                        <%= form.submit "#{@post.advertisement == 'For Sale' ? 'Sold' : 'Adopted'}" %>
                    <% end %>
                    <% end %> 
                </td>
            </tr>
            <% end %>
            <% else %>
                <tr>
                    <td colspan="6">
                        <p class="m-1">No inquiry yet.</p>
                    </td>
                </tr>
            <% end %>
            <tbody>
        </table>
    </div>
</div>




