<%= form_with model: @place, local: true, data: {
  controller: :maps,
  action: "google-maps-callback@window->maps#initializeMap"
} do |form| %>

<div class="map-container">

<div> <span class="back-home-span"> <%= link_to "Back to homepage", authenticated_root_path, class: "back-home" %> </span> </div>

<div class="field">
  <%= form.search_field :search, name: nil, class: 'form-control', data: { target: "maps.field", action: "keydown->maps#preventSubmit" }, class: "search-location-bar", id: "search-bar" %>
</div>

<div class="field-coordinates">
  <%= form.label :latitude %>
  <%= form.text_field :latitude, class: 'form-control', data: { target: "maps.latitude" }, class: "field-coordinates", id: "coordinates" %>
</div>

<div class="field-coordinates">
  <%= form.label :longitude %>
  <%= form.text_field :longitude, class: 'form-control', data: { target: "maps.longitude" } %>
</div>


  <%= content_tag :div, nil, data: { target: "maps.map" }, class: "map" %>

<% end %> 
</div>